.featured-products-block {

    &__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        padding-inline-end: var(--container-padding);
    }

    &__all-link {
        font-size: 0.875rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}